# Username for the MinIO root user
MINIO_ROOT_USER=
# Password for the MinIO root user (8+ characters)
MINIO_ROOT_PASSWORD=
# Username for the Postgres user
POSTGRES_USER=
# Password for the Postgres user
POSTGRES_PASSWORD=
# Name of the Postgres database
POSTGRES_DB=